@import url("font.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
  transition: transform 0.2s ease;
}
/* -----------------utilities-----------------*/
.img-50 {
  width: 50%;
}
.img-50:hover {
  transform: scale(1.1);
}
.img-70 {
  width: 70%;
}
.pt-100 {
  padding-top: 100px;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
}
.row-center {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.half-width {
  flex: 1;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  justify-content: center;
}
.btn {
  display: inline-block;
  padding: 10px 24px;
  background: #e02c6d;
  transition: transform 0.2s ease;
}
.btn:hover {
  transform: scale(1.1);
}
.pt-100 {
  padding-top: 100px;
}
.mt-30 {
  margin-top: 30px;
}
/* --------------header section-------------- */
header {
  background-color: #2d25a0;
}
article {
  padding: 15px;
  width: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}
article:hover {
  transform: scale(1.1);
}
article h3 {
  margin-top: 16px;
  margin-bottom: 10px;
}
footer {
  align-items: center;
  flex-direction: column;
}
footer img {
  width: 483px;
}
footer .icons img {
  width: 32px;
  height: 32px;
}
@media (max-width: 675px) {
  .row {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: repeat(1, 330px);
  }
  .img-50,
  .img-70 {
    width: 100%;
    padding-top: 50px;
  }
}
